<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegExClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <RegExClient.Properties.Settings>
            <setting name="ZoomFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>995, 590</value>
            </setting>
            <setting name="IgnoreCase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegexZoomFactor" serializeAs="String">
                <value>1.15</value>
            </setting>
            <setting name="RegexSize" serializeAs="String">
                <value>960, 30</value>
            </setting>
            <setting name="SplitterDist" serializeAs="String">
                <value>51</value>
            </setting>
        </RegExClient.Properties.Settings>
    </userSettings>
</configuration>
