label
{
    font-weight: bold;
}

table td.RegEx 
{
    width: 120px;
    text-align:center;
}

table td.Def
{
    width: 850px;
}

table tr:nth-child(odd)
{
    background-color: ghostwhite
}

table tr:nth-child(even)
{
    background-color: beige
}

table td.Header1
{
    text-align: center;
}

table tr.Header
{
    font-weight: bold;
    background-color: lightgray;
}